body {
    font-family: 'Encode Sans Expanded', sans-serif;
    overflow-x: hidden;
}

a {
    transition: all 0.3s ease-in-out;
    color: #333;
}

a:hover {
    color: #F9B500;
    text-decoration: none;
}


/* header  */


/* start media query header */

@media (max-width:768px) {
    .header-nav-item {
        border-bottom: 1px solid rgb(231, 231, 231);
        margin-top: 10px;
        padding: 1px;
        margin-left: 10px;
    }
    .navbar-menu {
        margin-top: 20px;
        box-shadow: 1px 0px 10px rgb(231, 231, 231);
    }
}

@media (max-width:991.98px) {
    .header-logo {
        width: 110px;
    }
}

@media (min-width:768px) {
    .navbar-menu {
        margin-left: 30px;
        position: relative;
        bottom: 4px;
    }
    .header-nav-item-link {
        font-size: 14px;
    }
    .titles::after {
        display: none;
    }
    .img-title {
        font-size: 30px;
    }
}

@media (min-width:992px) {
    .navbar-menu {
        margin-left: 100px;
        position: relative;
    }
    .header-nav-item-link {
        margin-left: 20px;
    }
}

@media (min-width:1200px) {
    .navbar-menu {
        margin-left: 300px;
    }
}

@media (min-width:576px) {
    .header-nav-btn {
        padding-left: 350px !important;
    }
}


/* end of media query header */


/* css code header */

.header-nav-btn {
    padding-left: 295px;
}

.header-nav-btn:hover,
.header-nav-btn:focus {
    outline: 0;
}

.header-nav-item-link {
    color: #333;
    font-weight: 700;
}


/* end of css code header */

.col-8 img {
    width: 100%;
    height: 420px;
}

.col-4 img {
    width: 100%;
    height: 200px;
}

.col-4 .img:nth-child(2) {
    margin-top: 18px;
}

.img {
    position: relative;
}

.img img {
    object-fit: cover;
}

.layer {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.img-titles {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 20px;
}


/* recent */

.recent-title {
    position: relative;
    font-weight: 700;
    font-size: 22px;
}

.recent-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.recent-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 5px;
    background-color: #F98500;
}

.recent-img-title {
    font-size: 20px;
}


/* end of recent */

.bit-title {
    font-size: 18px;
    font-weight: 500;
}

.list-group {
    font-size: 13px;
}


/* footer */

.footer {
    position: relative;
    background-color: #191919;
    color: #cccccc;
}

.bg-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
}

.footer-social-item {
    font-size: 10px;
    color: #8b8a8a;
    padding-right: 10px;
}

.menu-footer-item {
    font-size: 13px;
    padding-right: 10px;
    color: #8b8a8a;
}

.footer-link-item {
    color: white;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 700;
}


/* end of footer */